News/WebContent/wsdl/news_web_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://newsAPI.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://newsAPI.com" xmlns:intf="http://newsAPI.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://newsAPI.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="requestData">
    <complexType>
     <sequence>
      <element name="SingerName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="requestDataResponse">
    <complexType>
     <sequence>
      <element name="requestDataReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="requestDataResponse">

      <wsdl:part element="impl:requestDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="requestDataRequest">

      <wsdl:part element="impl:requestData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="news_web_service">

      <wsdl:operation name="requestData">

         <wsdl:input message="impl:requestDataRequest" name="requestDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:requestDataResponse" name="requestDataResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="news_web_serviceSoapBinding" type="impl:news_web_service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="requestData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="requestDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="requestDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="news_web_serviceService">

      <wsdl:port binding="impl:news_web_serviceSoapBinding" name="news_web_service">

         <wsdlsoap:address location="http://localhost:8082/News/services/news_web_service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
